<p style="color: green"><%= notice %></p>
<div class="container">
  <h1>Projects</h1>
  <p>This page contains my most recent projects, feel free to look around!</p>
  <p>Web projects contain a link to the demo, while other projects  </p>
  <div id="projects">
    <% @projects.each do |project| %>
      <%# <%= debug(project) %>
      <%# <%= debug(project.title) %>
      <% if current_user&.admin? %>
        <%= render "projects/draggable", project: project %>
      <% else %>
        <%= render project %>
      <% end %>
      <%# <p>
        <%= link_to "Show this project", project %>
      <%# </p>  %>
    <% end %>
  </div>
</div>

<%# <%= link_to "New project", new_project_path %> 
