<div id="<%= dom_id post %>"> 
  <div class="card text-center shadow rounded" style="width: 20rem;">
    <div class="card-header"><%= post.title %></div>
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <%  if post.images.count > 0 %>
      <% for image in post.images%>
        <% image_tag(image, class:"card-img-top") %>
      <% end %>
      <%= image_tag(image, class:"card-img-top") %>
    <% else %>
      <%= image_tag("cropped-Escudo_CDA_Definitivo.png", class:"card-img-top", width:"15rem") %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title bold"><%= post.category.name %></h5>
      <p class="card-text"><%= post.body.to_plain_text.truncate(175) %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">posted by <%= link_to post.user.full_name, user_path(post.user) %></li>
      <li class="list-group-item"><%= pluralize(post.views, "view") %></li>
      <li class="list-group-item"># comentarios: <%= post.comments.count %></li>
      <li class="list-group-item">publicado: <%= post.created_at.strftime('%A, %B, %d, %Y at %I:%M %p') %></li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link"><%= link_to "Ver este post", post, class:"btn btn-secondary" %></a>
      <%# <a href="#" class="card-link">Another link</a> %>
    </div>
  </div>
</div>
