<div id="<%= dom_id post %>"> 
  <div class="card text-center shadow rounded" style="width: 18rem;">
    <div class="card-header"><%= post.title %></div>
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <% post.images.each do |image| %>
      <%= image_tag(image, class:"card-img-top") %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title bold"><%= post.category.name %></h5>
      <p class="card-text"><%= post.body.to_plain_text.truncate(175) %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">posted by <%= link_to post.user.full_name, user_path(post.user) %></li>
      <li class="list-group-item"><%= pluralize(post.views, "view") %></li>
      <li class="list-group-item">publicado: <%= post.created_at %></li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link"><%= link_to "Show this post", post, class:"btn btn-secondary" %></a>
      <%# <a href="#" class="card-link">Another link</a> %>
    </div>
  </div>
</div>
